body {
    background-color: #caf0f8;
    font-family: "Comic Sans MS", "Comic Sans";
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

#gameContainer {
    text-align: center;
}

h1 {
    color: #023047;
    text-align: center;
    font-size: 80px;
}

h2 {
    color: #fb8500;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: #fb8500;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; /* Ensures everything stays in one row */
    gap: 10px; /* Adds spacing between images */
    width: 100%;
    overflow: hidden;
}  

.small-img {
    width: 30%; /* Adjust to fit the screen */
    height: auto; /* Maintain aspect ratio */
    max-width: 300px; /* Prevent images from being too large on bigger screens */
    object-fit: contain; /* Ensures images fit without being cut off */
}

.box {
    width: 1000px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background-color: white;;
    margin-left: auto;
    margin-right: auto;
    color: #023047; /* Text color */
    font-size: 20px; /* Adjust font size */
    display: flex;
    align-items: center; /* Centers text vertically */
}

#userInput {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-family: "Comic Sans MS", "Comic Sans";
    border: none; /* Removes the border around the input field */
    outline: none;
}

#Button {
    background-color: #023047; /* Dark blue */
    color: white; /* White text */
    font-size: 30px; /* Bigger font */
    font-weight: bold;
    padding: 20px 40px; /* Bigger padding */
    border: none; /* Remove default border */
    border-radius: 15px; /* More rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease-in-out;
    display: block; /* Makes it easier to center */
    margin: 50px auto; /* Centers the button */
}

#Button:hover {
    background-color: #e84118; /* Darker red on hover */
}